apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: keysboard-route
spec:
  parentRefs:
    - name: main
      namespace: gateway
  hostnames:
    - keys.pmh.codes
  rules:
    - backendRefs:
        - name: keysboard-service
          port: 3000
