apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: heartbeat-route
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: main
      namespace: gateway
  hostnames:
    - heart.pmh.codes
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: heartbeat-service
          port: 8080
