apiVersion: apps/v1
kind: Deployment
metadata:
  name: default
spec:
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: default
  template:
    metadata:
      labels:
        app: default
    spec:
      containers:
        - name: default
          image: ghcr.io/pmh-only/default
          env:
            - name: THEME_NAME
              value: pmh.codes
          ports:
            - containerPort: 3000
