apiVersion: apps/v1
kind: Deployment
metadata:
  name: bitwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bitwarden
  template:
    metadata:
      labels:
        app: bitwarden
    spec:
      containers:
      - name: bitwarden
        image: vaultwarden/server:latest
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        env:
        - name: SIGNUPS_ALLOWED
          value: "false"
        - name: INVITATIONS_ALLOWED
          value: "false"
        - name: PUSH_ENABLED
          value: "true"
        - name: DOMAIN
          value: https://vault.pmh.codes
        - name: ADMIN_TOKEN
          valueFrom:
            secretKeyRef:
              name: bitwarden-secrets
              key: ADMIN_TOKEN
        - name: PUSH_INSTALLATION_ID
          valueFrom:
            secretKeyRef:
              name: bitwarden-secrets
              key: PUSH_INSTALLATION_ID
        - name: PUSH_INSTALLATION_KEY
          valueFrom:
            secretKeyRef:
              name: bitwarden-secrets
              key: PUSH_INSTALLATION_KEY
        volumeMounts:
        - mountPath: /data
          name: bitwarden-storage
      volumes:
      - name: bitwarden-storage
        persistentVolumeClaim:
          claimName: bitwarden-pvc
