apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: bitwarden-route
spec:
  parentRefs:
    - name: main
      namespace: gateway
  hostnames:
    - vault.pmh.codes
  rules:
    - backendRefs:
        - name: bitwarden-service
          port: 80
