apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: here-route
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: main
      namespace: gateway
  hostnames:
    - "*.here.pmh.so"
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: here-service
          port: 8080
