apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: traffic-route
spec:
  parentRefs:
    - name: main
      namespace: gateway
  hostnames:
    - traffic.pmh.codes
  rules:
    - matches:
        - path:
            type: Exact
            value: /
      backendRefs:
        - name: aggregator
          port: 80
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: aggregator
          port: 443
