apiVersion: v1
kind: Service
metadata:
  name: nameserver
spec:
  clusterIP: 172.17.0.20
  selector:
    app: nameserver
  ports:
    - protocol: TCP
      port: 5380
      targetPort: 5380

    - protocol: TCP
      port: 53
      targetPort: 53
    - protocol: UDP
      port: 53
      targetPort: 53

    - protocol: TCP
      port: 853
      targetPort: 853
    - protocol: UDP
      port: 853
      targetPort: 853
      
    - protocol: TCP
      port: 443
      targetPort: 443
    - protocol: UDP
      port: 443
      targetPort: 443
