apiVersion: v1
kind: Service
metadata:
  name: nameserver
spec:
  clusterIP: 172.17.0.20
  selector:
    app: nameserver
  ports:
    - name: webconsole
      protocol: TCP
      port: 3000
      targetPort: 3000
    - name: dns
      protocol: UDP
      port: 53
      targetPort: 53
