apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: authentik-ingress
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      sub_filter "</head>" "<script src=/media/custom.js></script></head>";
      proxy_set_header Accept-Encoding "";
spec:
  ingressClassName: nginx
  rules:
  - host: auth.pmh.codes
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: authentik-service
            port:
              number: 9000
