apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: guessaiword-route
spec:
  parentRefs:
    - name: main
      namespace: gateway
  hostnames:
    - guess.pmh.codes
  rules:
    - backendRefs:
        - name: guessaiword-service
          port:
            number: 8080
