apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: guessaiword-ingress
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
spec:
  ingressClassName: nginx
  rules:
  - host: guess.pmh.codes
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: guessaiword-service
            port:
              number: 8080
