apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database
resources:
  - ./mysql/pvc.yml
  - ./mysql/deployment.yml
  - ./mysql/secret.yml
  - ./mysql/service.yml
  - ./mongo/pvc.yml
  - ./mongo/deployment.yml
  - ./mongo/service.yml
