apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database
resources:
  - ./backpack.yml
  - ./mysql/pvc.yml
  - ./mysql/deployment.yml
  - ./mysql/secret.yml
  - ./mysql/service.yml
  - ./pgsql/pvc.yml
  - ./pgsql/deployment.yml
  - ./pgsql/secret.yml
  - ./pgsql/service.yml
  - ./clickhouse/pvc.yml
  - ./clickhouse/deployment.yml
  - ./clickhouse/secret.yml
  - ./clickhouse/service.yml
  - ./mongo/pvc.yml
  - ./mongo/deployment.yml
  - ./mongo/service.yml
  - ./redis/deployment.yml
  - ./redis/service.yml
