apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: immich-route
spec:
  parentRefs:
    - name: main
      namespace: gateway
  hostnames:
    - photos.pmh.codes
  rules:
    - backendRefs:
        - name: immich-service
          port:
            number: 2283
