apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: radio-route
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: main
      namespace: gateway
  hostnames:
    - ads.pmh.codes
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - group: ""
          kind: Service
          name: pmhraspberry
          namespace: tailscale
          port: 1423
          weight: 1
