apiVersion: apps/v1
kind: Deployment
metadata:
  name: clickhouse
spec:
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
    spec:
      initContainers:
        - name: backpack
          restartPolicy: Always
          image: ghcr.io/pmh-only/backpack-clickhouse2s3:latest
          env:
            - name: TZ
              value: Asia/Seoul
            - name: DATABASE_HOST
              value: '127.0.0.1'
            - name: DATABASE_PORT
              value: '8123'
            - name: DATABASE_USER
              value: 'admin'
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: clickhouse-root-password
                  key: password
            - name: S3_ENDPOINT_URL
              value: 'http://pmhraspberry.tailscale.svc.cluster.local:9000/dbdump/clickhouse'
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: backpack-secrets
                  key: S3_ACCESS_TOKEN
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: backpack-secrets
                  key: S3_SECRET_TOKEN
            - name: AWS_REGION
              value: us-east-1
      containers:
      - name: clickhouse
        image: ghcr.io/pmh-only/clickhouse-server:rybbit
        ports:
        - containerPort: 8123
        env:
        - name: CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT
          value: "1"
        - name: CLICKHOUSE_USER
          value: admin
        - name: CLICKHOUSE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: clickhouse-root-password
              key: password
        volumeMounts:
        - mountPath: /var/lib/clickhouse
          name: clickhouse-storage
        - mountPath: /etc/clickhouse-server/config.d
          name: clickhouse-config
      volumes:
      - name: clickhouse-storage
        persistentVolumeClaim:
          claimName: clickhouse-pvc
      - name: clickhouse-config
        persistentVolumeClaim:
          claimName: clickhouse-config-pvc
