apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: chatsolution-route
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: main
      namespace: gateway
  hostnames:
    - c.pmh.codes
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /socket.io/
      backendRefs:
        - group: ""
          kind: Service
          name: chatsolution-service
          port: 80
