apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: minecraft-redirect
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: main
      namespace: gateway
  hostnames:
    - maps.pmh.codes
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            hostname: maps.mc.pmh.codes
            statusCode: 301
