apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minecraft-old-redirect-ingress
  annotations:
    nginx.ingress.kubernetes.io/server-snippet: |
      return 301 $scheme://maps.mc.pmh.codes$request_uri;
spec:
  ingressClassName: nginx
  rules:
  - host: maps.pmh.codes
