apiVersion: apps/v1
kind: Deployment
metadata:
  name: bot
spec:
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: bot
  template:
    metadata:
      labels:
        app: bot
    spec:
      containers:
        - name: bot
          image: ghcr.io/pmh-only/bot
          env:
            - name: TZ
              value: Asia/Seoul
            - name: DISCORD_PREFIX
              value: '!'
            - name: DISCORD_TOKEN
              valueFrom:
                secretKeyRef:
                  name: bot-secrets
                  key: DISCORD_TOKEN
