apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio
        command:
          - minio
          - server
          - /data
          - --address
          - :9000
          - --console-address
          - :9001
        ports:
        - containerPort: 9000
        - containerPort: 9001
        env:
        - name: MINIO_DOMAIN
          value: pmh.codes
        - name: MINIO_SERVER_URL
          value: http://minio-service.minio.svc.cluster.local:9000
        - name: MINIO_BROWSER_REDIRECT_URL
          value: http://minio.pmh.codes
        - name: MINIO_ROOT_USER
          valueFrom:
            secretKeyRef:
              name: minio-secrets
              key: MINIO_ROOT_USER
        - name: MINIO_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: minio-secrets
              key: MINIO_ROOT_PASSWORD
        - name: MINIO_PROMETHEUS_AUTH_TYPE
          value: public
        - name: MINIO_PROMETHEUS_URL
          value: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
        - name: MINIO_PROMETHEUS_JOB_ID
          value: minio-cluster
        volumeMounts:
        - mountPath: /data
          name: minio-storage
      volumes:
      - name: minio-storage
        persistentVolumeClaim:
          claimName: minio-pvc
