apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: office-route
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: main
      namespace: gateway
  hostnames:
    - office.pmh.codes
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: office-service
          port: 80
